[gerrit]
        basePath = git
        canonicalWebUrl = http://juc-gerrit.gerritforge.com/
[index]
        type = LUCENE
[auth]
        type = HTTP
        httpHeader = GITHUB_USER
        httpExternalIdHeader = GITHUB_TOKEN
	registerPageUrl = /plugins/github-plugin-2.12-SNAPSHOT/static/account.html
[sendemail]
        smtpServer = localhost
        smtpUser = gerrit2
[container]
        user = root
        javaHome = /usr/java/jdk1.8.0_45/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8081/
        filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
        directory = cache
[github]
        url = https://github.com
        clientId = 1de7bc599f36dc2fb0cc
	wizardFlow = account.gh R> /#/dashboard/self
	wizardFlow = repositories-next.gh R> /#/admin/projects
	scopes = USER_EMAIL,REPO,READ_ORG
[plugins]
	allowRemoteAdmin = true
[gitweb]
        type = custom
        url = https://github.com/
        project = ${project}
        revision = ${project}/commit/${commit}
        branch = ${project}/tree/${branch}
        roottree = ${project}/tree/${branch}
        filehistory = ${project}/commits/${branch}/${file}
        file = ${project}/blog/${branch}/${file}
        linkname = GitHub
        urlEncode = false
[change]
	submitWholeTopic = true
