[gerrit]
        basePath = git
        canonicalWebUrl = http://mesos1.gerritforge.com:8081/
[database]
        type = oracle
        instance = xe
        hostname = mesos2.gerritforge.com
        username = gerrit2
        password = secret_password
        port = 49160
        url = jdbc:oracle:thin:gerrit2/secret_password@mesos2.gerritforge.com:49161
[index]
        type = LUCENE
[auth]
        type = HTTP
        httpHeader = GITHUB_USER
        httpExternalIdHeader = GITHUB_TOKEN
	registerPageUrl = /plugins/github-plugin-2.11/static/account.html
[sendemail]
        smtpServer = localhost
        smtpUser = gerrit2
[container]
        user = gerrit2
        javaHome = /usr/java/jdk1.8.0_45/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8081/
        filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
        directory = cache
[github]
        url = https://github.com
        clientId = b12d88497ff3b4d498a6
	wizardFlow = account.gh R> /#/dashboard/self
	wizardFlow = repositories-next.gh R> /#/admin/projects
	scopes = USER_EMAIL,REPO,READ_ORG
[plugins]
	allowRemoteAdmin = true
