[gerrit]
        basePath = git
        canonicalWebUrl = http://gerrit1.gerritforge.com:8080/
[database]
	type = oracle
        instance = xe
        hostname = mesos2.gerritforge.com
        username = gerrit2
	password = secret_password
        port = 49160
[index]
        type = LUCENE
[auth]
        type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[sendemail]
        smtpServer = localhost
        smtpUser = gerrit2
[container]
        user = gerrit2
        javaHome = /usr/java/jdk1.8.0_45/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
